<div class="line"></div>

<div class="footer">
    <div class="footermain">
        <div class="footert">
            © 
            <a class="footera" href="http://localhost:4200/">AnimeHeaven</a>
             2019 |
            <a class="footera" href="http://localhost:4200/">anime online</a>
             | 
            <a class="footera" href="http://localhost:4200/">watch anime</a>
             | 
            <a class="footera" href="http://localhost:4200/">anime heaven</a>
             | 
            <a class="footera" href="http://localhost:4200/">animeheaven.eu</a>
             | 
            <a class="footera" href="http://localhost:4200/">watch anime online</a>
             | 
            <a class="footera" href="http://localhost:4200/">sitemap</a>
        </div>
    </div>
</div>