<div [routerLink]="['/']"></div>
<div class="line"></div>
<div class="notmain">
    <div class="maindark">
        <div id="home_index">
            <div class="home_inner">
                <div class="full center">
                    <a href="http://localhost:4200/">
                        <img src="assets/animeheaven-logo.png" title="Anime Heaven">
                    </a>
                    <h1>Animeheaven - watch anime online free</h1>
                </div>
                <div class="full">
                    <p>
                        Searching animes on 
                        <a href="http://localhost:4200/"><strong>Animeheaven</strong></a>
                    </p>
                    <div class="search-form">
                        <input placeholder="Enter Anime Name" class="text">
                        <button type="submit" class="btn">SEARCH</button>
                    </div>
                </div>
                <div class="full">
                    <br>
                    <br>
                    <a class="btn-successful" href="http://localhost:4200/">Use the old Animeheaven.eu? Click here</a>
                    <br>
                </div>
                <div class="full">
                    <br>
                    <br>
                    <h2>
                        <strong>Watch aniems online free in HD on Animeheaven</strong>
                    </h2>
                    <br>
                    <p class="center">
                        <strong>AnimeHeaven.to</strong>
                        "  is the best animes online website, where you can watch anime online completely free. No download, no surveys and only instant premium streaming of animes. The latest animes online & series animes and highest quality for you. Enjoy your favorite animes with "
                        <strong>AnimeHeaven</strong>
                        ", "
                        <a href="http://localhost:4200/">
                        <strong>AnimeHeaven</strong>
                    </a>
                    " updated responsive design - mobile friendly interface, watch animes online on mobile devices!"
                    </p>
                    <p class="center">
                        "Watch the best Anime from the comfort of your living room, no restrictions on how much you can watch. AnimeHeaven is free"
                    </p>
                    <h3 style="font-size: 12px">
                    "Thousands of anime episodes now streaming for free on "
                    <strong>AnimeHeaven</strong>
                    ". Start watching instantly."
                </h3>
                </div>
            </div>
        </div>
    </div>
</div>
