<div [routerLink]="['/']">
    <div class="bar">
        <div class="left-area">
            <a href="http://localhost:4200/">
                <div class="logo"></div>
            </a>
            <div class="searchbox">
                <form class="searchform">
                    <input class="searchinput" maxlength="100" placeholder=" Search">
                </form>
            </div>
        </div>
        
        <div class="menua">
                <a class="menue" href="">Random</a>
                <a class="menue" href="">Schedule</a>
                <a class="menue" href="">Popular</a>
                <a class="menue" href="">Ongoing</a>
                <a class="menue" href="">Movies</a>
                <a class="menue" href="">Series</a>
                <a class="menue" href="">Dubbed</a>
                <a class="menue" href="">Anime</a>
        </div>
    </div>
    
</div>